name: Sync labels

on:
  push:
    branches:
      - main

permissions: write-all

jobs:
  build:
    name: Sync labels
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Sync labels
        uses: brpaz/action-label-syncer@32e516ae73bbf7c7c0548897be07080795336e15 # 0.2.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          manifest: .github/labels.yml
